* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-style: bold;
    text-transform: capitalize;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "chicken chicken beef beef sushi sushi";
    padding: 0 20px;
}

section {
    background-color: gray;
    border: 1px solid black;
    margin: 20px;
}

h3 {
    text-transform: capitalize;
    border: 1px solid black;
    position: relative;
    float: right;
    padding: 0 20px;
    margin: -1px;
}

.chicken {
    grid-area: chicken;
}

.beef {
    grid-area: beef;
}

.sushi {
    grid-area: sushi;
}

.chicken h3 {
    background-color: burlywood;
}

.beef h3 {
    background-color: crimson;
}

.sushi h3 {
    background-color: cornflowerblue;
}

p {
    clear: both;
    margin: 30px 10px 10px;
}


@media (min-width: 768px) and (max-width: 991px) {
    .container {
        grid-template-areas: 
            "chicken chicken chicken beef  beef  beef"
            "sushi   sushi   sushi   sushi sushi sushi"
    }
}

@media (max-width: 767px) {
    .container {
        grid-template-areas: 
            "chicken chicken chicken chicken chicken chicken"
            "beef    beef    beef    beef    beef    beef"
            "sushi   sushi   sushi   sushi   sushi   sushi "
    }
    

}
