* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    color: black;
}

a:hover {
    color: darkgray;
    text-decoration: none;
}

header .navbar {
    background-color: gray;
    border: 2px solid black;
    border-radius: 0;
}

header p {
    color: black;
    font-size: 2em;
}

.navbar .navbar-toggle,
.navbar .navbar-toggle .icon-bar {
    border: 2px solid black;
}

h1 {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 10px;
}

#collapsable-nav {
    background-color: lightgray;
    border-top: 2px solid black;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#collapsable-nav div:not(:first-child){
    border-top: 2px solid black;
}

section {
    background-color: gray;
    border: 1px solid black;
    margin: 20px;
}

h3 {
    text-transform: capitalize;
    border: 1px solid black;
    position: relative;
    float: right;
    padding: 0 20px;
    margin: -1px;
}

.chicken h3 {
    background-color: burlywood;
}

.beef h3 {
    background-color: crimson;
}

.sushi h3 {
    background-color: cornflowerblue;
}

section p {
    clear: both;
    margin: 30px 10px 10px;
}

